@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 210 30% 96%;
    --foreground: 220 9% 26%;
    --card: 210 30% 100%;
    --card-foreground: 220 9% 26%;
    --popover: 210 30% 100%;
    --popover-foreground: 220 9% 26%;
    --primary: 225 76% 57%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 29% 91%;
    --secondary-foreground: 220 9% 26%;
    --muted: 210 29% 91%;
    --muted-foreground: 210 10% 45%;
    --accent: 160 51% 51%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 88%;
    --input: 210 20% 88%;
    --ring: 225 76% 57%;
    --chart-1: 225 76% 57%;
    --chart-2: 160 51% 51%;
    --chart-3: 25 84% 60%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 220 13% 11%;
    --foreground: 210 40% 98%;
    --card: 220 13% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 220 13% 15%;
    --popover-foreground: 210 40% 98%;
    --primary: 225 76% 57%;
    --primary-foreground: 210 40% 98%;
    --secondary: 220 13% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 220 13% 20%;
    --muted-foreground: 210 10% 60%;
    --accent: 160 51% 51%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 20%;
    --input: 220 13% 20%;
    --ring: 225 76% 57%;
    --chart-1: 225 76% 57%;
    --chart-2: 160 51% 51%;
    --chart-3: 25 84% 60%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
